body {
    background-color: #2D3250;
    color: #F6B17A;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1,
h2 {
    color: #F6B17A;
}

#loginForm {
    background-color: #7077A1;
    border: 2px solid #F6B17A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F6B17A;
    background-color: #424769;
    color: #F6B17A;
}

input[type="submit"] {
    background-color: #F6B17A;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #F5E8C7;
}

button {
    background-color: #F6B17A;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #F5E8C7;
}

/* comment test*/