::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}

body {
    background-color: #2D3250;
    color: #F6B17A;
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
}

#sidebar,
#main,
#cart {
    border: 2px solid #F6B17A;
    position: relative;
}

#sidebar {
    background-color: #7077A1;
    color: #F6B17A;
    width: 15%;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
}

.category {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.category-item {
    border-bottom: 1px solid #424769;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 0;
}

#sidebar ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}

#sidebar ul li {
    border-bottom: 1px solid #424769;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 0;
}

#main {
    width: 70%;
    padding: 20px;
}

#products {
    background-color: #2D3250;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%-1px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#products div {
    cursor: pointer;
    background-color: #424769;
    border: 1px solid #F6B17A;
    margin: 10px;
    padding: 20px;
    flex: 0 0 calc(33.333% - 20px - 1px - 2*10px);
    min-height: 60px;
    box-sizing: border-box;
    text-align: center;
    max-height: 50px;
}

#products div:hover {
    background-color: #F6B17A;
    color: white;
}

#cart {
    background-color: #7077A1;
    color: #F6B17A;
    width: 15%;
    padding: 10px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
}

#cart ul {
    list-style: none;
    padding: 10px;
}

#cart ul li {
    margin: 10px 0;
}

button {
    background-color: #F6B17A;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #F5E8C7;
}

select#deliveryOption {
    background: #F6B17A url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z' fill='%23ffffff'/></svg>") no-repeat right -0.6em center/30px 18px;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* You might want to add a custom arrow indicator for the dropdown */
select#deliveryOption::after {
    content: '▼';
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}