body {
    display: flex;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 25%;
    border-right: 2px solid #ccc;
    padding: 10px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    cursor: pointer;
    margin: 10px 0;
}

#main {
    width: 50%;
    padding: 10px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#products div {
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    flex-basis: calc(50% - 20px); /* Leave blank space */
    box-sizing: border-box;
    text-align: center;
}

.product-item {
    flex: 1 0 21%; /* 子元素占据剩余空间，每个元素最小宽度为21%，允许四个元素平分空间 */
    /* 应用其他必要的样式，如padding, margin, border等 */
}

#cart {
    width: 25%;
    border-left: 2px solid #ccc;
    padding: 10px;
    text-align: center;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart ul li {
    margin: 10px 0;
}
