body {
    display: flex;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 25%;
    border-right: 2px solid #ccc;
    padding: 10px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    cursor: pointer;
    margin: 10px 0;
}

#main {
    width: 50%;
    padding: 10px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#products div {
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    flex-basis: calc(50% - 20px); /* Leave blank space */
    box-sizing: border-box;
    text-align: center;
}

.product-item {
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    flex: 0 0 25%; /* Ensure each product takes up exactly 25% of the container's width */
    max-width: 25%;
    box-sizing: border-box;
    text-align: center;
}

#cart {
    width: 25%;
    border-left: 2px solid #ccc;
    padding: 10px;
    text-align: center;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart ul li {
    margin: 10px 0;
}
